@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Hi+Melody&family=Noto+Serif+KR:wght@500&family=Poppins:wght@400;500;600;700&family=Stylish&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.home .people .mintingInfo .myWallet .mint {
  padding-top: 86px;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

.section {
  padding: 100px 0;
}

.people,
.mintingInfo,
.myWallet,
.mint,
.footer {
  font-family: "Poppins", sans-serif;
}

.people .title,
.mintingInfo .title,
.myWallet .title,
.mint .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 100px 0;
  padding-bottom: 8px;
  font-family: "Ubuntu", sans-serif;
}

.people .title::before,
.mintingInfo .title::before,
.myWallet .title::before,
.mint .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 160px;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
}

.people .title::after,
.mintingInfo .title::after,
.myWallet .title::after,
.mint .title::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  font-size: 20px;
  color: rgb(255, 164, 45);
  padding: 5px;
  background-color: white;
  transform: translateX(-50%);
}

.people .people-content,
.mintingInfo .mintingInfo-content,
.myWallet .myWallet-content,
.mint .mint-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
